<?xml version="1.0" encoding="utf-8"?>
  <msl>
    <!--
      Use PyVISA-py as the PyVISA backend library.
      Allowed values are: @ni, @py, @sim, /path/to/lib\@ni
    -->
    <pyvisa_library>@py</pyvisa_library>

    <!--
      Specify the equipment that is being used to perform the measurement and assign an
      "alias" that you want to use to associate for each equipment.
    -->
    <equipment alias="rfc" manufacturer="Keysight" model="53210A" serial="MY57510158"/>

    <!-- Specify the Equipment-Register Databases to load equipment records from. -->
    <registers>
      <!--
        The "team" attribute is used to specify which research team the Equipment-Register
        database belongs to.
      -->
      <register team="M&amp;P">
          <path>I:\MSL\Private\MAP\Equipment register\Equipment Register.xlsx</path>
          <!--
            If there are multiple Sheets in the Excel database then you must specify the
            name of the Sheet that contains the equipment records. This Excel database
            also contains connection records (see the <connections> tag below) and so
            the <sheet> tag must be specified.
          -->
          <sheet>Equipment</sheet>
      </register>
    </registers>

    <!-- Specify the Connections Databases to load connection records from. -->
    <connections>
      <connection>
        <path>I:\MSL\Private\MAP\Equipment register\Equipment Register.xlsx</path>
        <!--
          Must also specify which Sheet in this Excel database contains the connection records.
          This "Equipment Register.xls" file also contains an "Equipment" Sheet, see the
          <register team="P&amp;R"> element above.
        -->
        <sheet>LenovoX260</sheet>
      </connection>
    </connections>

  </msl>